@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");

* {
	font-family: "Epilogue", sans-serif;
	color: hsl(0, 0%, 8%);
}

.nav-ul {
	display: flex;
	margin: 0;
	padding: 0;
	align-items: center;
}

.lock {
	overflow: hidden;
}

.nav-btns button:nth-child(1) {
	border: none;
	outline: none;
	background-color: transparent;
}

.nav-btns button:nth-child(2) {
	outline: none;
	border: 2px solid hsl(0, 0%, 8%);
	padding: 10px 25px;
	border-radius: 10px;
	background-color: transparent;
}

a {
	text-decoration: none;
	color: hsl(0, 0%, 8%);
	margin: 10px;
	display: inline;
}

.overlay {
	display: none;
}

.hamburger {
	display: none;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
}

h1 {
	font-size: 70px;
	width: 500px;
}

.hero {
	display: grid;
	grid-template-columns: repeat(2, 450px);
	grid-gap: 80px;
	margin: 0 auto;
	padding-top: 50px;
	max-width: 1200px;
	justify-content: center;
	align-items: center;
}

.img-container img {
	width: 100%;
}

.references {
	margin-top: 60px;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 20px;
	justify-content: space-between;
	align-items: center;
}

.hero button {
	margin-top: 40px;
	border: none;
	outline: none;
	background-color: hsl(0, 0%, 8%);
	color: hsl(0, 0%, 98%);
	border-radius: 10px;
	padding: 15px 25px;
	font-size: 15px;
	transition: all 1s;
}
.hero button:hover {
	transition: all 1s;
	background-color: transparent;
	border: 1px solid hsl(0, 0%, 8%);
	color: hsl(0, 0%, 41%);
	font-size: 15px;
	cursor: pointer;
	transition: all 1s;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	border-radius: 10px;
	padding: 20px;
	display: none;
	position: absolute;
	background-color: hsl(0, 0%, 98%);
	width: 120px;
	z-index: 2;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
	color: hsl(0, 0%, 8%);
	padding: 10px 12px;
	display: flex;
	align-items: center;
	/* justify-content: space-between; */
}

.dropdown-content a:hover {
	background-color: #ddd;
}

.dropdown-content img {
	margin-right: 10px;
}

.dropdown:hover .dropdown-content {
	display: block;
}
@media (max-width: 1200px) {
	.hero {
		max-width: 960px;
		grid-template-columns: repeat(2, 400px);
	}
}

@media (max-width: 960px) {
	.nav-btns {
		display: none;
	}
	.nav-ul {
		display: none;
	}
	.nav {
		display: flex;
		justify-content: space-between;
	}
	.hamburger {
		display: block;
	}
	.hero {
		margin: 50px;
		max-width: 960px;
		grid-template-columns: repeat(1, max(200px, 350px));
	}

	.hero-text {
		text-align: center;
	}

	.img-container {
		grid-row: 1;
	}
	.img-container img {
		content: url(images/image-hero-mobile.png);
		width: 100%;
	}
	h1 {
		font-size: 45px;
		width: 100%;
		margin: 0;
	}

	p {
		color: hsl(0, 0%, 41%);
	}

	.references {
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 10px;
		justify-content: center;
	}

	.hero button {
		margin: 0;
	}

	.overlay {
		display: none;
		position: absolute;
		background-color: rgba(0, 0, 0, 0.7);
		width: 100%;
		height: 100%;
		top: 0;
	}

	.mobile-nav {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		position: absolute;
		top: -12px;
		right: 0;
		background-color: hsl(0, 0%, 98%);
		padding: 20px;
		display: none;
		width: 180px;
		height: 100vh;
	}

	a {
		margin: 0;
	}

	.mobile-nav-con {
		display: flex;
		flex-direction: column;
		width: 100%;
		/* text-align: left; */
		justify-content: end;
	}

	.mobile-nav-con > * {
		padding: 20px;
	}
	.overlay {
		width: 100%;
		/* height: 100vh; */
	}
	.show {
		display: flex;
	}
}

/* Almost White: hsl(0, 0%, 98%)
- Medium Gray: hsl(0, 0%, 41%)
- Almost Black: hsl(0, 0%, 8%) */
